<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <img src="https://media.tenor.com/8RUiT04ukYwAAAAM/bird-scream-bird-epic-epic.gif">
    <img src="https://media.tenor.com/u0BNG58CEn0AAAAM/feral-hog-viral-hog.gif">
    <title>Banterbird</title>
    <script src="/static/js/app.js" defer></script>
</head>
<body>
    <h1>Banterbird, perhaps Banter-Drooling-Feral-Hog</h1>
    <div>
        Logged in as: <strong id="username">Jimmy Johnson</strong>
        <br>
        <br>
        <a href="login.html"><input type="button" value="Login"></a>
        <button onclick="submitPost()">Banter-Drooling-Feral-Hog</button>
    </div>
    <div>
        <h3>New Post</h3>
        <textarea id="postInput" placeholder="What's on your mind?"></textarea><br>
        <br>
        <button onclick="submitPost()">Banter</button>
    </div>
    <hr>
    <h3>Feed</h3>
    <div id="feed"></div>

    <template id="post-template">
        <div class="post">
            <p><strong class="username"></strong>: <span class="message"></span></p>
            <small class="timestamp"></small>
            <hr>
        </div>
    </template>
</body>
</html>
