<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
        <title>Login</title>
    </head>
    <input id="usernameInput" placeholder="Enter Username"/>
    <button onclick="login()">Login</button>
    <script>
        function login() {
            const username = document.getElementById('usernameInput').value;
            if (username.length > 0) {
                localStorage.setItem('username', username);
                window.location.href = '/';
            }
            else {
                alert("Enter a username, pwease! 🥺🥺🥺")
            }
        }
    </script>
</html>